<h3>Order history</h3>

<form [formGroup]="formGroup">
  <div class="card mb-3">
    <div class="card-body">
      <div class="row mb-2">
        <div class="col-sm-5">
          <label>Date</label>
          <div class="input-group ">
            <input class="form-control" formControlName="dateFrom" type="date" />
            <input class="form-control" formControlName="dateTo" type="date" />
          </div>
        </div>

        <div class="col-sm-3">
          <label>Price ($)</label>
          <div class="input-group">
            <input class="form-control" formControlName="priceFrom" type="text" />
            <input class="form-control" formControlName="priceTo" type="text" />
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-sm-7">
          <button class="btn btn-md btn-outline-secondary" type="button" (click)="filter()">Filter</button>
        </div>
        <div class="col-sm-2 float-right">
          <button class="btn btn-md btn-outline-secondary" type="button" (click)="reload()">Refresh</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-body">
      <table class='table'>
        <thead>
          <tr class="table-active">
            <th>Date</th>
            <th>Code</th>
            <th>Description</th>
            <th>Category</th>
            <th>Sub Category</th>
            <th>Price</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of history">
            <td>{{ order.dateOrder | date:'dd/MM/yyy' }}</td>
            <td>{{ order.code }}</td>
            <td>{{ order.description }}</td>
            <td>{{ order.categoryName }}</td>
            <td>{{ order.subCategoryName }}</td>
            <td>{{ order.price }}</td>
            <td>{{ order.quantity }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>
